@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ceraMedium;
  src: url(./assets/font/Cera-Pro-Medium.otf);
}

@font-face {
  font-family: ceraBold;
  src: url(./assets/font/Cera-Pro-Bold.otf);
}

@font-face {
  font-family: ceraBlack;
  src: url(./assets/font/Cera-ProBlack.otf);
}

body {
  margin: 0;
  font-family: ceraMedium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(#e5e0ff, #c2b897);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.name {
  font-family: ceraBlack;
}

.title {
  font-family: ceraBold;
}
