@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: cera;
  src: url(./assets/font/Cera-GR-Bold.ttf);
}

@font-face {
  font-family: chesna;
  src: url(./assets/font/ChesnaGrotesk-Semibold.otf);
}

@font-face {
  font-family: chesnaBlack;
  src: url(./assets/font/ChesnaGrotesk-Black.otf);
}

@font-face {
  font-family: chesnaBold;
  src: url(./assets/font/ChesnaGrotesk-Bold.otf);
}

body {
  margin: 0;
  font-family: chesna;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.name {
  font-family: chesnaBlack;
}

.title {
  font-family: chesnaBold;
}
